body {
    margin: 0px 100px 0px 100px;
}

.topnav {
    padding:75px 0px 75px 0px;
    display:flex;
}

.topnav h1 {
    float:left;
}

.topnav #search-bar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.topnav #search-bar input {
    width:350px;
    height:40px;
}

.topnav #submit-btn {
    display:flex;
    justify-content: flex-end;
}