.footer {
    border-top: 1px solid white;
    background-color:  #00acee;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

.btn {
    height:40px;    
}

.p-footer, .p-footer-credit {
    margin: 0px 10px 0px 5px;
}

.span-btn {
    display:flex;
    margin:auto;
    float:right;
}

.footer-small {
    display:none;
}

@media screen and (max-width: 600px) {
    .p-footer-credit, .p {
        margin:0px 12px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .footer-big {
        display:none;
    }
    .footer-small {
        margin:0px 0px 0px 0px;
        display:block;
    }
    #footer-btn {
        display:block;
    }
    .span-btn {
        margin: auto;
        display:inline-block;
    }
  }