.message-container {
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 125px;
}

@media screen and (max-width: 900px) {
    .message-container{ 
        margin-top: 150px;
    }
  }

@media screen and (max-width: 600px) {
    .message-container{ 
        margin-top: 150px;
    }
  }