.navbar {
    min-height: 80px;
    background-color: #00acee;
    border-bottom: 1px solid white;
    position: fixed;
    width:100%;
    top:0px;
  }

  .navbar a {
      font-size: 50px;
      align-content:left;
      margin-top:-15px;
  }

  .search-random {
    float:right;
  }

  @media screen and (max-width: 600px) {
    .navbar {
      max-width:600px;
      width:100%;
    }
  }