#search-bar input {
    margin: 5px 0px 0px 0px;
    height:40px;
    width:450px;
}

.select {
    display:inline;
}

#submit-btn {
    margin: -5px 0px 0px 0px;
    height:40px;
}

#search-bar {
    float:right;
    margin: 0px 0px 0px 0px;
}



@media screen and (max-width: 600px) {
    #search-bar input {
        width: 300px;
    }
  }