.tweet-card-body {
  margin: auto;
  margin-top:20px;
  margin-bottom:35px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 0 16px 16px 16px;
  width: 598px;
  background-color: white;
  border-color: #eee #ddd #bbb;
  border-radius: 5px 15%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5 10px 8px 10px black;
}

.twitter-card-body a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

.tweet-header {
  display:inline-flex;
}

.tuser-profile-image {
  margin: 20px 10px 10px 10px;
  border-radius: 50%;
}

.tuser-name {
    margin: 35px 10px 10px 10px;
    font-weight:bolder;
}

.tuser-screen-name {
    margin: 35px 10px 10px 10px;
}

.tweet-created-at {
  margin: 35px 10px 10px 10px;
  color: lightslategrey;
}

.tweet-text-container {
  margin: 10px 10px 10px 20px;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.twitter-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.tweet-footer {
    display:inline;
    margin: 0px 0px 0px 10px;
    padding:20px;
}

.tweet-fav-count, .tweet-retweet-count, .original-tweet-link {
    margin: 10px 25px 10px 25px;
}