.twitter-list {
    margin:100px 0px 80px 450px;
}

@media screen and (max-width: 600px) {
    .twitter-list {
        width: 100%;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
    }
  }