.tweet-card-body {
  margin: auto;
  margin-top:20px;
  margin-bottom:15px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 0 16px 16px 16px;
  width: 598px;
  background-color: white;
  border-color: #eee #ddd #bbb;
  border-radius: 5px 15%;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5 10px 8px 10px black;
  word-wrap:break-word;
}

.twitter-card-body a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

.tweet-header {
  display:inline-flex;
}

.tuser-profile-image {
  margin: 25px 0px 10px 0px;
  border-radius: 50%;
}

.tuser-name {
    margin: 25px 10px 0px 15px;
    font-weight:bolder;
}

.tuser-screen-name {
    margin: 25px 10px 0px 10px;
}

.tweet-created-at {
  margin: 25px 10px 0px 10px;
  color: lightslategrey;
}

.tweet-text-container {
  margin: -30px 10px 10px 65px;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.twitter-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.tweet-footer {
    display:inline;
    margin: auto;
    padding:20px;
}

.tweet-fav-count, .tweet-retweet-count, .original-tweet-link {
    margin: 10px 25px 10px 25px;
}

@media screen and (max-width: 600px) {
  .tweet-card-body {
    margin:auto;
    margin-left:5px;
    font-size: 14px;
    padding: 0 16px 16px 16px;
    max-width: 420px;
    border-radius: 5px 5%;
  }
    
  .tweet-text-container {
    margin: 0px 10px 10px 65px;
  }

  .tweet-fav-count, .tweet-retweet-count, .original-tweet-link {
    margin: 10px 7.5px 10px 7.5px;
  }

  .original-tweet-link {
    width: 30px;
  }
  
.tuser-name, .tuser-screen-name, .tweet-created-at {
  margin: 25px 5px 0px 5px;
  }
}